{% extends 'customer/base.html' %}
{% load static %}

{% block content %}


<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
    <div class="container">
    
    <div class="intro-banner-wrap">
        <img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">
    </div>
    
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->
    
    <!-- ========================= SECTION  ========================= -->
    <section class="section-name padding-y-sm">
    <div class="container">
    
    <header class="section-heading">
        <a href="{% url 'customer:store' %}" class="btn btn-outline-primary float-right">See all</a>
        <h3 class="section-title">Our Category</h3>
    </header><!-- sect-heading -->
    
        
    <div class="row">
        {% for item in category_list %}
        <div class="col-md-3">
            <div class="card card-product-grid">
                <a href="{% url 'customer:store' %}?query={{ item.id }}" class="img-wrap"> <img src="{{ item.cover_pic.url }}"> </a>
                <figcaption class="info-wrap">
                    <p> {{ item.category }}
                    
                </figcaption>
            </div>
        </div> <!-- col.// -->
        {% endfor %}
        <!-- col.// -->
         
    </div> <!-- row.// -->
    
    </div><!-- container // -->
    </section>
    <!-- ========================= SECTION  END// ========================= -->
    
    

{% endblock %}