{% extends 'customer/base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <a href="#"><img src="http://127.0.0.1:8000/media/{{ product.image }}"></a>
                        </div> <!-- img-big-wrap.// -->

                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">

                        <h2 class="title"> {{ product.product_name | title }}</h2>

                        <div class="mb-3">
                            <var class="price h5">RS {{ product.price }}</var>
                        </div>



                        <hr>


                        <div class="d-flex  my-2">
                            <span class="count ml-2 bg-success badge badge-light text-white mr-2"
                                style="width: 48px; font-size: 15px;">{{ product.rating }}
                                <span> ★</span></span>
                            <span>{{ review_count }} Review{{ review_count | pluralize }}</span>




                        </div>

                        <br>

                        <p>Description: {{ product.description }}</p>
                        <hr>
                        <p>Seller: suvarna</p>
                        {% if product.stock > 0 %}
                        Stock : <span class="text-success">Available</span>
                        <br />

                        {% if item_exist %}
                        <br>
                        <a href="{% url 'customer:cart' 'list' %}" class="btn  btn-primary"> <span class="text">Go to
                                cart</span></a>


                        {% else %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Add to Cart" class="btn  btn-primary">
                        </form>

                        {% endif %}

                        {% else %}
                        Stock : <span class="text-danger">Out Of Stock</span>

                        {% endif %}
                        {% comment %} <i class="fas fa-shopping-cart"></i> </a> {% endcomment %}
                    </article> <!-- product-info-aside .// -->
                </main> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

        <br>

        <div class="row">
            <div class="col-md-9">

                <div class="d-flex justify-content-around">
                    <header class="section-heading">
                        <h3>Customer Reviews </h3>

                    </header>
                    {% if already_reviewed %}
                    <p><a class="btn btn-info mt-2" href="{% url 'customer:add_product_qstn' product.id %}">Post your
                            Questions</a></p>


                    {% else %}
                    <p><a class="btn btn-info mt-2" href="{% url 'customer:product_review' product.id %}">Rate this
                            product</a></p>


                    {% endif %}
                </div>
                <div class="rating-review  d-flex ">

                    <div class="d-flex  flex-column">

                        <h2>{{ product.rating }} ★</h2>

                        <div class="d-flex flex-column my-2">

                            <span>{{ review_count }} Review{{ review_count | pluralize }}</span>


                        </div>
                    </div>

                    <div class="ml-5">


                        <ul class="list-unstyled">






                            {% for rating in rating_list %}

                            <li>{{rating.rating}}★ <span class="ml-2"> <progress value="{{rating.percentage}}"
                                        max="100"></progress></span> {{ rating.count }} </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>

                <article class="box mb-3">

                    {% for review in reviews %}
                    <div class="icontext w-100 mt-2">

                        <div class="text">

                            <div class="d-flex">
                                <h6 class="mb-1 ml-2">{{ review.title | title}}</h6>
                                <span class="count ml-2 bg-success badge badge-light text-white mr-2"
                                    style="width: 48px; font-size: 15px;">4.1<span> ★</span></span>

                            </div>


                        </div>
                    </div> <!-- icontext.// -->
                    <div class="mt-3">
                        <p>
                            This product is very super ,and i like bass and smooth sound. it's worth for this price.its
                            very comfortable .and battery also super.
                        </p>
                    </div>
                    <div class="review-img">
                        <img src="{% static './images/avatars/avatar1.jpg' %}" style="height: 100px;">
                        <img src="{% static './images/avatars/avatar1.jpg' %}" style="height: 100px;">

                    </div>


                    <div style=" margin-top: 8px;font-size: 12px;
                    color: #878787;
                    margin-right: 8px;">
                        <span class="text-muted p-2">Mohammed Rifad</span>
                        <svg width="14" height="14" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"
                            class="_2a1p_T">
                            <g>
                                <circle cx="6" cy="6" r="6" fill="#878787"></circle>
                                <path stroke="#FFF" stroke-width="1.5" d="M3 6l2 2 4-4" fill="#878787"></path>
                            </g>
                        </svg>

                        <span style="font-size: 10px;">Cetified user</span>
                        <span class="ml-2">
                            Jul, 2022</span>
                    </div>

                    {% endfor %}
                </article>


                <article class="box mb-3">
                    <div>
                        <h4 class="mb-1 ml-2">Questions And Answers</h4>
                    </div>

                    {% for question in questions %}

                    <div class="mb-3">


                        <hr>
                        <div>
                           
                            <h6 class="mt-2">Q: <span>is it good?</span></h6>
 

                            {% if question.answers_set.all|length > 1 %}
                            
                            <b class="mt-1 d-block">   {% if question.answers_set.all|length > 0 %}A: {{ question.answers_set.all.0.answer}} </b> {% endif %}
                            <div>
                                <div style=" margin-top: 8px;font-size: 12px;
                            color: #878787;
                            margin-right: 8px;">
                                    <span class="text-muted p-2">{{question.answers_set.all.0.customer.first_name }}</span>
                                    <svg width="14" height="14" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"
                                        class="_2a1p_T">
                                        <g>
                                            <circle cx="6" cy="6" r="6" fill="#878787"></circle>
                                            <path stroke="#FFF" stroke-width="1.5" d="M3 6l2 2 4-4" fill="#878787"></path>
                                        </g>
                                    </svg>
    
                                    <span style="font-size: 10px;">Cetified user</span>
                                    <br>
                                  
                                </div>
    
    
                            </div>
                            <a href="">View all answers</a>


                            {% else %}
                            <b class="mt-1 d-block">   {% if question.answers_set.all|length > 0 %}A: {{ question.answers_set.all.0.answer}} </b> 

                            <div>
                                <div style=" margin-top: 8px;font-size: 12px;
                            color: #878787;
                            margin-right: 8px;">
                                    <span class="text-muted p-2">{{question.answers_set.all.0.customer.first_name }}</span>
                                    <svg width="14" height="14" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"
                                        class="_2a1p_T">
                                        <g>
                                            <circle cx="6" cy="6" r="6" fill="#878787"></circle>
                                            <path stroke="#FFF" stroke-width="1.5" d="M3 6l2 2 4-4" fill="#878787"></path>
                                        </g>
                                    </svg>
    
                                    <span style="font-size: 10px;">Cetified user</span>
                                    <br>
                                  
                                </div>
    
    
                            </div>
                            {% endif %}
                            {% endif %}
                            <hr>
                        </div>


                         
                    </div>

                     {% endfor %}



                </article>



            </div> <!-- col.// -->
        </div> <!-- row.// -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}