{% extends 'seller/base.html' %}
{% load static %}

{% block content %}


<main class="col-md-9">

   {% if items %}
   <h2 class=" text-center">Items for Order No : <span class="text-primary">{{ order_no }} </span> </h2>
   <table class = "table table-hover mt-3">
      <tr>
         <th>Sl No</th>
         <th>Product</th>
        <th>Quantity</th>
         <th>Price</th>
         

      </tr>

      {% for item in items %}
      <tr>
         <td>{{ forloop.counter }}</td>
         <td> {{ item.product.product_name }}</td>
         <td>  {{ item.quantity }} No {{ item.quantity | pluralize }}</td>
         <td> {{ item.price }}</td>
         

      </tr>
      {% endfor %}
   </table>

   {% endif %}
</main>


{% endblock %}