{% extends 'seller/base.html' %}
{% load static %}

{% block content %}

<main class="col-md-9">
   <h3 class=" text-center ">Order History  </h3>


   {% if orders %}
   <table class = "table table-hover mt-3">
      <tr>
         <th>Sl No</th>
         <th>Order No</th>
         <th>Product</th>
        <th>Quantity</th>
         <th>Price</th>
         <th>Status</th>

         
      </tr>

      {% for item in orders %}

      <form action="" method="POST">
         {% csrf_token %}
      <tr>
         <td>{{ forloop.counter }}</td>
         <td style="color: blueviolet;">{{ item.order.order_no }}</td>
         <td> {{ item.product.product_name | title }}</td>
         <td>  {{ item.quantity }} No {{ item.quantity | pluralize }}</td>
         <td>₹ {{ item.price }}</td>
         <td class="text-danger">{{ item.status | title }}</td>
         {% if item.status == 'order placed' or item.status == 'packed' or item.status == 'out for delivery' %}
       

         {% else %}
         <td >{{ item.cancellation_reason }}</td>

         {% endif %}

         {% if item.status == 'order placed' or item.status == 'packed' or item.status == 'out for delivery' %}
         <td>
            <select name="status" id="" class="form-control">
            
            <option value="packed">Packed</option>
            <option value="out for delivery">Out for delivery</option>
            <option value="delivered">Delivered</option>



         </select></td>

         {% endif %}
         {% if item.status == 'order placed' or item.status == 'packed' or item.status == 'out for delivery' %}
         <td>
           <input type="submit" name="" id="" class="btn btn-danger" value="Update"></td>
         {% endif %}
         <td><input type="hidden" name="order_id" value="{{ item.id }}" id=""></td>
      </tr>
   </form>
      {% endfor %}
   </table>

   
   {% else %}

   <div class="d-flex justify-content-center my-5">
      <h3 class="text-danger">No Data Found</h3>

   </div>

   {% endif %}
</main>


{% endblock %}