{% extends 'seller/base.html' %}
{% load static %}

{% block content %}


<main class="col-md-9">
   <h1>My products</h1>
   <div class="container-fluid">
      <div class="row">

         
           
         {% for item in products %}
          <div class="card col-md-4 d-inline-block m-2">
            <img src="{{ item.image.url  }}" height = "160px" class="card-img-top" >
            <div class="card-body">
               <h5>{{ item.product_name | title }}</h5>
               <h5>Available stock : {{ item.stock }}</h5>
               
               <h4>
               <span class="count ml-2 bg-success text-center badge badge-light text-white mr-2"
               style="width: 48px; font-size: 15px;">{{ item.rating }}<span> ★</span></span>
            </h4>
            <a href="{% url 'Seller:product_reviews' item.id %}" class="modal-open">Reviews</a>
            <br>
            <a href="{% url 'Seller:product_questions' item.id %}">Questions</a>
            </div>
          </div>

          {% endfor %}
      </div>
   </div>
</main>

 
 
{% endblock %}